{% extends 'basic.html' %}
{% block content %}
{% load static %}
<img src="{% static 'img/aboutimg.jpg' %} "  width="390px" class="img-fluid py-500 enter thumbnail-padding:25rem" alt="...">
<img src="{% static 'img/student1.jpg' %} "  width="400px" class="img-fluid py-500 enter thumbnail-padding:25rem" alt="...">
<img src="{% static 'img/students3.jpg' %} "  width="400px" class="img-fluid py-500 enter thumbnail-padding:25rem" alt="...">

<div class="bg-green" >
<h1 class="text-center">India’s Best Professional IT-Training Institute</h1>
    <p style="font-size:25px;margin:20px;padding:10px">3RI Technologies is a Leading Professional IT- Training Provider Institute for Software Development Courses since 2010. It is one of best Training Institute which provides High-Quality Industry Level Training with Real Time Projects.
    We are known as one of the best IT Training Institutes in India with a clear vision of imparting Quality Education & Training among students Since 2010.</p>


<h2 class="text-center">Welcome To 3RI Technologies</h2>
<p style="font-size:25px;margin:20px;padding:10px;">3RI Technologies is a Leading Online/classroom Training Provider since 2010 for Software Development Courses in Pune. It is one of the best Online / Classroom Training Institute, which provides High-Quality Industry Level Training with Real Time Projects. 3RI Technologies is ISO 9001:2015 certified company imparting IT training from basic to advanced technologies.
    3RI has specially designed Job Oriented Programme for “Freshers” and “Job Seekers.” We provide training by working professionals who are having 8-10 years of industry experience, who guide the candidate with the best knowledge and work culture of most IT companies. The training would be accompanied by live project and placement support, which makes the candidates ready to be absorbed in the industry.
    Respect for knowledge, resources, and associates. Rationale about concepts, behavior, and principles. Response to opportunities and requirements.Innovative Solutions Provider for customer satisfaction.</p>
    </div>




<hr style="width:1270px;margin-left:30px">
<h1 style="padding:10px;margin-left:90px;">OUR MISSION</h1>
<div style="font-size:25px; padding:20px; margin-left:50px;height:400px;width:520px" >
    <ul><li>Increase the value of our courses, services, relationships, information, and trust.</li>
    <li>Meet the expectations of our students, employees holistically, and develop a long-lasting, fruitful relationship, goodwill, and oneness with all.</li>
<li>Impart practical and quality Computer & Vocational training and prepare individuals for high leveled National and International Careers.</li></div></li>
</ul>
<div style="width:600px; height:400px;padding:20px;margin-top:-500px; margin-left:600px">
<h1 style="margin-left:80px;padding:20px">OUR VISION</h1>
<ul><li style="padding:10px;margin-left:50px;font-size:25px" >Impart practical and quality Computer & Vocational training and prepare individuals for high leveled National and International Careers.</li>
</ul>
</div>


    <img src="{% static 'img/contact.jpg'%} " height="600px" width="600px" style="margin-left:700px;margin-bottom:200px; border:hidden" class="img-thumbnail" alt="...">



<h1 style="padding:20px;margin-left:50px; margin-top:-600px">OUR COURSES</h1>
<h4 style="padding:20px;margin-left:50px; margin-top:10px;width:500px">3RI Technologies provides Training on various technologies such as –</h4>
<div style="font-size:25px; padding:20px; margin-left:50px;height:1200px;width:520px" >
    <ul><li><b>Cloud Computing:</b> AWS, Azure and Google Cloud</li>
    <li><b>Data Analytics:</b> Hadoop 2.X, Spark & Scala, ETL, and Tableau</li>
    <li><b>Data Analysis:</b> Data Science, Machine Learning & Python, R</li>

<li><b>Data Analytics:</b> Hadoop 2.X, Spark & Scala, ETL, and Tableau</li>
    <li><b>Programming Languages: </b>Java, J2EE, Spring, Hibernate, C#, ASP.NET, MVC</li>

    <li><b>Software Testing:</b> Basic Testing, Selenium, Soap UI, Web Services, API Testing, Performance Testing, LoadRunner, Jmeter, ETL Testing</li>
    <li><b>Web Designing and Development:</b> HTML, HTML5, CSS, CSS3, Javascript, Advanced JS, Bootstrap, DOM, JQuery, AJAX, PHP, CodeIgniter, WordPress, Joomla</li>

<li><b>Database:</b> DBMS, Oracle SQL, PL/SQL, MS SQL Server</li>
    <li><b>Scripting Languages:</b> Shell Scripting, Perl Scripting, Python</li>
    <li><b>SAP Modules:</b> SAP ABAP, MM, HR, HCM, ABAP on HANA
</ul>

</div></li></li>


    <img src="{% static 'img/contact1.jpg'%} " height="600px" width="600px" style="margin-left:50px;margin-top:20px; border:hidden" class="img-thumbnail" alt="...">



<h1 style="padding:10px;margin-left:730px; margin-top:-600px">OUR SPECIALTY</h1>
<div style="font-size:25px; padding:10px; margin-left:700px;height:800px;width:620px" >
    <ul><li>Quality Training with Hands-on Experience.</li>
    <li>Real-Time Project based Training.</li>
    <li>Convenient batch timings for Regular / Fast-track / Weekend</li>

<li>Career Counseling and Support.</li>
    <li>Unlimited Lab availability.</li>

    <li>Experienced and Certified Trainer from top MNC</li>
    <li>EBooks availability for every Technology.</li>

<li>Software Installation on laptops.</li>
    <li>Training on Communication Skills, Aptitude, Mock Test to increase Students Employability.</li>
    <li>Live projects in Development, Testing, and Administration</li>

   <li>Interview Tips and Preparation are covered along with course</li>
    <li>100% Free Placement Support</li>
    <li>Global Certification center</li>
</ul>



</div></li></li>

<hr style="width:1270px;margin-left:30px">



{% endblock %}