<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background:yellow">
<p style="font-size:25px; color:red;">3RI Technologies is a Leading Online/classroom Training Provider since 2010 for Software Development Courses in Pune. It is one of the best Online / Classroom Training Institute, which provides High-Quality Industry Level Training with Real Time Projects. 3RI Technologies is ISO 9001:2015 certified company imparting IT training from basic to advanced technologies.

3RI has specially designed Job Oriented Programme for “Freshers” and “Job Seekers.” We provide training by working professionals who are having 8-10 years of industry experience, who guide the candidate with the best knowledge and work culture of most IT companies. The training would be accompanied by live project and placement support, which makes the candidates ready to be absorbed in the industry.

Respect for knowledge, resources, and associates.

Rationale about concepts, behavior, and principles.

Response to opportunities and requirements.

Innovative Solutions Provider for customer satisfaction.

</p>
</body>
</html>