{% extends 'basic.html' %}
{% block content %}
{% load static %}



<h2 class="text-center">Welcome To 3RI Technologies</h2>
<center>
    <img src="{% static 'img/courseoffres.jpg' %} " width="1180px" height="400px" class="img-fluid py-10 enter" alt="...">
</center>
<div>
<div style="padding:10px ; margin-left:150px; display:flex; " >
<div class="card" style="width: 18rem; margin:20px">
  <img src="{% static 'img/step-in-cloud-computing.jpg' %}" class="card-img-top" style="padding:10px"  alt="...">
  <div class="card-body">
    <p class="card-text">World’s most dominating & demanding Technologies are Cloud Computing and Python, 3RI brought them together for making you the most employable in the IT industry. Shell Scripting is also a part of this training. This is 100% Job Assured Training.</p>
      <button type="button" class="btn btn-success" >Learn More</button>
  </div>

</div>
<div class="card" style="width: 18rem; margin:20px">
  <img src="{% static 'img/Machine-Learning.jpg' %}" style="padding:10px" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Enroll in a Machine Learning course and take your career to the next level with the help of 100%job assurance provided by 3RI Technologies.</p>
    <button type="button" class="btn btn-success">Learn More</button>
  </div>
</div>
<div class="card" style="width: 18rem; margin:20px">
  <img src="{% static 'img/selenium-with-python-training.jpg' %}" style="padding:10px" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Step ahead to boost up your Career as an Automation Test Engineer with Strong Programming Knowledge in Python, with industry best practices by learning with Industry Experts.</p>
   <button type="button" class="btn btn-success">Learn More</button>
  </div>
</div>
</div>

<div style="padding:10px ; margin-left:150px; display:flex">
<div class="card" style="width: 18rem; margin:20px">
  <img src="{% static 'img/React.jpg' %}" class="card-img-top" style="padding:10px" alt="...">
  <div class="card-body">
    <p class="card-text">Get trained in React JS or MERN Stack Training and get a 100% Assured Job in top MNC’s. Best Web Technologies Training</p>
   <button type="button" class="btn btn-success">Learn More</button>
  </div>
</div>
<div class="card" style="width: 18rem; margin:20px">
  <img src="{% static 'img/Python-3.jpg' %}" class="card-img-top" style="padding:10px" alt="...">
  <div class="card-body">
    <p class="card-text">Learn Industry’s Best Techno-Functional Training for UI Development with our top-notch trainers along with 100% Placement Assistance.</p>
  <button type="button" class="btn btn-success">Learn More</button>
  </div>
</div>
<div class="card" style="width: 18rem; margin:20px">
  <img src="{% static 'img/Mastering-in-Data-Analytics.jpg' %}" style="padding:10px" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Get 100% Placement Assistance in top MNC’s after learning Data Analytics course from top-notch trainers.</p>
  <button type="button" class="btn btn-success">Learn More</button>
  </div>
</div>
</div>
</div>
{% endblock %}