{% extends 'basic.html' %}
{% block home %}
<div class="p
y-10 ">
  <img src="{% static 'img/cissco.jpg' %}" width="250px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/hcl.jpg' %}" width="250px" height="250px" class="rounded float-start" alt="...">
  <img src="{% static 'img/TCS.jpg' %}" width="250px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/Wipro.jpg' %}" width="290px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/mahindra.jpg' %}" width="250px" height="250px" class="rounded float-start" alt="...">

</div>

<h1>India’s Best Professional
IT-Training Institute</h1>
<p>3RI Technologies is a Leading Professional IT- Training Provider Institute for Software Development Courses since 2010. It is one of best Training Institute which provides High-Quality Industry Level Training with Real Time Projects.
We are known as one of the best IT Training Institutes in India with a clear vision of imparting Quality Education & Training among students Since 2010.</p>
{% endblock %}