{% extends 'basic.html' %}
{% block content %}
{% load static %}


<img src="{% static 'img/java-programming.jpg' %}" width="270px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/full-mern-stack.jpg' %}" width="270px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/pythonimg.jpg' %}" width="265px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/full-stack-web-development.jpg' %}" width="270px" height="250px" class="rounded float-start" alt="...">
<img src="{% static 'img/c-programming.jpg' %}" width="270px" height="250px" class="rounded float-start" alt="...">


<div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/indestytrainar.jpg' %}" width="265px" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Industry Expert Trainers</h5>
        <p class="card-text">Highly Qualified and Industry Experience Professionals for providing Real-Time Scenario </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/image2.jpg' %}" width="265px" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flexible Batches</h5>
        <p class="card-text">Multiple Batches & Support Systems to make sure you can learn according to your convenience</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/100%job.jpg' %}" width="265px" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">100% Placement Assistance</h5>
        <p class="card-text">After Training Completion we provide job Assistance Scheduled interview for every individual.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}